/* reset css */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* css variables */
:root {
    /* Colors */
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-rose-white: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-light-grey: hsl(30, 18%, 87%);
  --neutral-wenge-brown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);

  /* Font Family */
  --font-family-young-serif: "Young Serif", serif;
  --font-family-outfit: "Outfit", sans-serif;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-heavy: 700;
}

.recipe-body {
  background-color: var(--neutral-eggshell);
  width: min(90% 90rem);
  margin: 0 auto; 
  font-size: 16px; 
  font-family: var(--font-family-young-serif), var(--font-family-outfit);  
  padding: 7.688rem 22rem 7.75rem 22rem;
}
.recipe-header-section {
  padding: 2.5rem 2.5rem 0 2.5rem;
  background-color: var(--neutral-white);
}

.container {
  max-width: 46rem;
  display: inline-block;
  margin: 0 auto;
  transition: width .1s;
  padding: 2.5rem;
  background-color: var(--neutral-white);
}

.recipe-img {
  width: 100%;
  max-width: 39.75rem;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

.recipe-title {
  text-align: left;
  margin-bottom: 1.5rem;
}

.recipe-description {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-regular);
  color: var(--neutral-wenge-brown);
}

.recipe-prep-container {
  background-color: var(--neutral-rose-white);
  padding: 1.75rem;
  margin-bottom: 2rem;
}

.recipe-details-title {
  text-align: left;
  color: var(--primary-dark-raspberry);
  font-family: var(--font-family-outfit);
  margin-bottom: 1rem;
}
.recipe-details-list li {
  text-align: left;
  font-size: 0.80rem;
}
li::marker {
  color: var(--primary-dark-raspberry);
}
.bold-text {
  font-weight: var(--font-weight-bold);
  color: var(--neutral-wenge-brown);
  padding-left: 1rem;

}

li {
  color: var(--neutral-wenge-brown);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-outfit);
  font-size: 1rem;
}
.recipe-ingredients-title {
  color: var(--primary-nutmeg);
  margin-bottom: 1.5rem;
}
.recipe-ingredients-list{
  margin-left: 0;
  padding-left: 1rem;
}
.recipe-ingredient {
  padding-left: 1rem;
  margin-left: 1rem;
}
.colored-line {
  margin: 2rem 0 2rem 0;
  color: var(--neutral-light-grey);
}
.recipe-instructions-title{
  padding-bottom: 0.5rem;
  color: var(--primary-nutmeg);
}
.recipe-instructions-list {
  padding: 1rem;
}
.bold-text-steps {
  padding: 0;
  font-weight: var(--font-weight-bold);
  color: var(--neutral-wenge-brown);
}
.recipe-instructions {
  text-align: left;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 1rem;
}
.colored-line-steps {
  margin: 0 0 2rem 0;
  color: var(--neutral-light-grey);
}
.recipe-nutrition-title {
  padding-bottom: 1rem;
  color: var(--primary-nutmeg);
}
.recipe-nutrition-description {
  text-align: left;
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-outfit);
  color: var(--neutral-wenge-brown);
}
.recipe-nutrition-item {
  display: grid;
  grid-template-columns: repeat(2, 2fr); 
  grid-gap: 0.75rem;  
  padding-left: 2.5rem;
  margin-bottom: 1.5rem;
}
.recipe-nutrition-data-title {
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-regular);
  color: var(--neutral-wenge-brown);
}
.recipe-nutrition-amounts {
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-bold);
  color: var(--primary-nutmeg);
}
.colored-line-nutrition {
  margin: 0 0 0.75rem 0;
  color: var(--neutral-light-grey);
  height: 0;
}
/*  ******************* media queries *****************  */
/* @media (max-width: 768px) {
  .container {
    width: 100%; 
  }
} */

@media (max-width: 375px){
  .recipe-body{
    padding: 0;
    background-color: var(--neutral-white);
  }
  .recipe-header-section {
    padding: 0;
  }
  .container {
    width: 23.438rem;
  }
  .recipe-img {
    width: 100%;
    height: auto;
    object-fit: stretch;
  }
}





