/* reset css */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* css variables */
:root {
    /* Colors */
  --primary-nutmeg: hsl(14, 45%, 36%);
  --primary-dark-raspberry: hsl(332, 51%, 32%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-rose-white: hsl(330, 100%, 98%);
  --neutral-eggshell: hsl(30, 54%, 90%);
  --neutral-light-grey: hsl(30, 18%, 87%);
  --neutral-wenge-brown: hsl(30, 10%, 34%);
  --neutral-dark-charcoal: hsl(24, 5%, 18%);

  /* Font Family */
  --font-family-young-serif: "Young Serif", serif;
  --font-family-outfit: "Outfit", sans-serif;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --font-weight-heavy: 700;
}

.recipe-body {
  background-color: var(--neutral-eggshell);
  width: min(90% 90rem);
  margin: 0 auto; 
  font-size: 16px; 
  font-family: var(--font-family-young-serif), var(--font-family-outfit);  
  padding: 7.688rem 22rem 7.75rem 22rem;
}

.container {
  max-width: 46rem;
  margin-inline: auto;
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--neutral-white);
}

.recipe-img {
  margin-bottom: 2.5rem;
}

.recipe-title {
  text-align: left;
  margin-bottom: 1.5rem;
}

.recipe-description {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
  font-family: var(--font-family-outfit);
  font-weight: var(--font-weight-regular);
  color: var(--neutral-wenge-brown);
}

.recipe-prep-container {
  background-color: var(--neutral-rose-white);
  padding: 1.75rem;
  margin-bottom: 2rem;
}

.recipe-details-title {
  text-align: left;
  color: var(--primary-dark-raspberry);
  font-family: var(--font-family-outfit);
  margin-bottom: 1rem;
}
li::marker {
  color: var(--primary-dark-raspberry);
}
.bold-text {
  font-weight: var(--font-weight-bold);
  color: var(--neutral-wenge-brown);
  padding-left: 1rem;

}

li {
  color: var(--neutral-wenge-brown);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-outfit);
  font-size: 1rem;
}
.recipe-ingredients-title {
  color: var(--primary-nutmeg);
  margin-bottom: 1.5rem;
}
.recipe-ingredients-list{
  margin-left: 0;
  padding-left: 1rem;
}
.recipe-ingredient {
  padding-left: 1rem;
}
.colored-line {
  margin: 2rem 0 2rem 0;
  color: var(--neutral-light-grey);
}





/* 
table {
  border-collapse: collapse; 
}

th, td {
  padding: 5px; 
  border: 1px solid #ddd; 
}
*/